# Node
node_modules/
.npm
.pnpm-store
.next/
out/
yarn.lock
package-lock.json

# Python
__pycache__/
*.pyc
.venv/
.env

# OS/Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Docker
volume_data/
